{% block conteudo %}
    <div class="responsive-table">
        <table class="pacientes-table">
            <caption class="table-caption">
                Listagem de Fornecedores
            </caption>

            <thead>
                <tr class="table-row table-row-header">
                    <th class="table-header">ID</th>
                    <th class="table-header">Nome</th>
                    <th class="table-header">CNPJ</th>
                </tr>
            </thead>
            <tbody>
                {% for fornecedor in fornecedores %}
                    <tr class="table-row">
                        <td class="table-cel"><a class="table-link" href=" {% url 'sistema:perfilFornecedor' fornecedor.id %}">{{fornecedor.id}}</a></td>
                        <td class="table-cel">{{fornecedor.nome}}</td>
                        <td class="table-cel">{{fornecedor.cnpj}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock conteudo %}